{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<section class="shopping-cart py-12 col-md-10 mx-auto">

		<div class="container ">
			<h5 class="mb-10">Votre panier</h5>
			{% if data is empty %}
				<div class="alert alert-info">Votre panier est vide.</div>
			{% else %}
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Produit</th>
								<th scope="col">Prix unitaire</th>
								<th scope="col">Quantité</th>
								<th scope="col">Total</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for item in data %}
								<tr>
									<td>
										<div class="d-flex align-items-center">
											{% if item.product.images|length > 0 %}
												{% set image = item.product.images.first %}
												<img src="{{ asset('images/products/' ~ image.imageName) }}" alt="{{ item.product.name }}" class="img-fluid" style="width: 100px;">
											{% else %}
												<img src="{{ asset('/images/product-placeholder.png') }}" alt="{{ item.product.name }}" class="img-fluid" style="width: 100px;">
											{% endif %}
											<div class="ms-3 d-none d-lg-block">
												<strong>{{ item.product.name }}</strong>
												<div class="small-font-size">{{ item.product.description }}</div>
											</div>
										</div>
									</td>
									<td class="align-middle">
										<span>
											{{ ((item.product.price / 100) - ((item.product.price / 100) * (item.product.discount / 100))) | number_format(2, ',', '') }}€
										</span>

										{% if item.product.discount > 0 %}
											<span class="badge bg-success  ms-2">-{{ item.product.discount }}%</span>
										{% endif %}
									</td>
									<td class="align-middle">
										<span>
											{{ item.quantity }}
										</span>
									</td>
									<td class="align-middle">{{ (item.quantity * ((item.product.price / 100) - ((item.product.price / 100) * (item.product.discount / 100)))) | number_format(2, ',', ' ') }}€</td>


									<td class="align-middle">
											<a href="{{ path('app_cart_decrease', {'id': item.product.id}) }}" class="cart-button bg-danger">-</a>
											<a href="{{ path('app_cart_increase', {'id': item.product.id}) }}" class="cart-button bg-success">+</a>
											<a class="" href="{{ path('app_cart_remove', {'id': item.product.id}) }}">
												<img src="{{ asset('/images/trash.svg') }}" style="width: 16px; height: 25px;" alt="">
											</a>


									</td>

								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="cart-summary mt-4 bg-light p-3 rounded">
					<div class="d-flex flex-column flex-lg-row gap-3 gap-lg-0 justify-content-between">
						<span>
							<strong>Nombre total d'articles :</strong>
							{{ totalQuantity }}</span>
						<span>
							<strong>Prix total :</strong>
							{{ totalPrice | number_format(2, ',', ' ') }}€</span>
					</div>
				</div>

				<div class="d-flex flex-column flex-lg-row gap-6 gap-lg-0  justify-content-between align-items-center mt-4">
					<a href="/product" class="btn btn-outline-primary">Continuer vos achats</a>
					<a href="/order/checkout" class="btn btn-secondary">Procéder au paiement</a>
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
