{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="mb-3 d-flex flex-column justify-content-center align-items-center gap-4" style="min-height: 50vh">
			<p>Vous êtes connecté en tant que
				<span class='fw-bolder'>{{ app.user.userIdentifier }}</span>

			</p>
			<a href="{{ path('app_logout') }}">Se déconnecter</a>
		</div>
	{% else %}
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-lg btn-primary" type="submit">
				Sign in
			</button>
		</form>
	{% endif %}
{% endblock %}
