{% extends 'base.html.twig' %}
{% use "form/bootstrap5.html.twig" %}


{% block title %}Register
{% endblock %}

{% block body %}
{% if app.user %}
	<div class="mb-3 d-flex flex-column justify-content-center align-items-center gap-4" style="min-height: 50vh">
		<p>Vous êtes connecté en tant que
			<span class='fw-bolder'>{{ app.user.userIdentifier }}</span>

		</p>
		<a href="{{ path('app_logout') }}">Se déconnecter</a>
	</div>
{% else %}
	<section class="overflow-hidden">
		<div class="container mt-16">
			<div
				class="row align-items-center medium-font-size">

				<!-- Colonne de gauche pour le formulaire -->
				<div class="col-lg-6" style="height: 600px">
					<div class="py-2 text-center">
						<h2 class="mb-3 base-title-font-size">Inscris-toi, c'est facile !</h2>
						<p class="mb-10">Et tu pourras ensuite passer ta première commande</p>
						{{ form_start(registrationForm, {'attr': {'class': ''}}) }}
						{{ form_row(registrationForm.email, {'attr': {'class': '', 'placeholder': 'prenom@mail.com'}}) }}
						{{ form_row(registrationForm.plainPassword, {'attr': {'class': '', 'placeholder': 'Mot de passe'}}) }}
						<div class="w-100 d-flex">
							{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': '', 'placeholder': 'Mot de passe'}}) }}
							<div>
								<label for="{{ registrationForm.agreeTerms.vars.id }}" class="">
									J'accepte les termes et conditions
								</label>
							</div>
						</div>

						<button class="mt-8 mt-md-8 btn bg-secondary d-block text-light hover-effect" type="submit">Je m'inscris</button>


						{{ form_end(registrationForm) }}
					</div>
				</div>
				<div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center" style="height: 500px">
					<img class=" rounded-4 h-75 w-75" src="{{ asset('images/register-bg.jpg') }}" alt="Registration">
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% endblock %}
