{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block body %}

	<section class="product-details py-12">
		<div class="container">
			<div
				class="row justify-content-center">
				<!-- Section d'images -->
				<div class="col-md-4 position-relative">
					<div class="position-absolute left-0 top-0 bg-info p-3 rounded-pill">
						<span>
							<strong>{{ product.stockquantity }}</strong>
							restants
						</span>
					</div>
					{% if product.nutriscore.score == "A" %}
						<div class="position-absolute end-0 top-0 pr-6 rounded-3 z-20">
							<img src="{{asset("images/nutriscore-a.svg")}}" style="width: 100px" alt="">
						</div>
					{% elseif product.nutriscore.score == "B" %}
						<div class="position-absolute end-0 top-0 pr-6 rounded-3 z-20">
							<img src="{{asset("images/nutriscore-b.svg")}}" style="width: 100px" alt="">
						</div>
					{% elseif product.nutriscore.score == "C" %}
						<div class="position-absolute end-0 top-0 pr-6 rounded-3 z-20">
							<img src="{{asset("images/nutriscore-c.svg")}}" style="width: 100px" alt="">
						</div>
					{% elseif product.nutriscore.score == "D" %}
						<div class="position-absolute end-0 top-0 pr-6 rounded-3 z-20">
							<img src="{{asset("images/nutriscore-d.svg")}}" style="width: 100px" alt="">
						</div>
					{% elseif product.nutriscore.score == "E" %}
						<div class="position-absolute end-0 top-0 pr-6 rounded-3 z-20">
							<img src="{{asset("images/nutriscore-e.svg")}}" style="width: 100px" alt="">
						</div>
					{% endif %}
					<div class="position-absolute left-0 top-0 bg-info p-3 rounded-pill">
						<span>
							<strong>{{ product.stockquantity }}</strong>
							restants
						</span>
					</div>
					{% if product.images|length > 0 %}
						{% set mainImage = product.images.first %}
						<img class="img-fluid w-100 mb-3" src="{{ asset('images/products/' ~ mainImage.imageName) }}" alt="{{ product.name }}">
						<div class="small-images d-flex">
							{% for image in product.images %}
								<img class="img-fluid mr-2" src="{{ asset('images/products/' ~ image.imageName) }}" alt="{{ product.name }}" style="width: 100px; height: 100px;">
							{% endfor %}
						</div>
					{% else %}
						<img class="img-fluid w-100" src="{{ asset('/images/product-placeholder.png') }}" alt="{{ product.name }}">
					{% endif %}
				</div>

				<!-- Section de détails du produit -->
				<div class="col-md-4 bg-info p-8 rounded-3">
					<h4 class="mb-4">{{ product.name }}</h4>
					<p>{{ product.description }}</p>
					<p>
						<strong>Prix :</strong>
						{{ (product.price / 100) | number_format(2, ',', '') }}€</p>

					{% if product.discount > 0 %}
						<p>
							<strong>Réduction :</strong>
							{{ product.discount }}%</p>
					{% endif %}
					<p>
						<strong>Volume :</strong>
						{{ product.volume }}</p>
					<p>
						<strong>Origine :</strong>
						{{ product.name }}</p>
					<p>
						<strong>Marque :</strong>
						{{ product.brand }}</p>
					<p>
						<strong>Catégorie :</strong>
						{{ product.category.name }}</p>
					<div>
						<strong>Labels  :</strong>
						{% for label in product.qualitylabels %}
							{% if label.label == 'Bio' %}
								<img src="{{ asset('/images/bio-label.png') }}" style='width: 25px' alt="Bio">
							{% elseif label.label == 'Commerce équitable' %}
								<img src="{{ asset('/images/fairtrade-label.png') }}" style='width: 25px' alt="Commerce équitable">
							{% elseif label.label == 'Agriculture raisonnée' %}
								<img src="{{ asset('/images/raison-label.png') }}" style='width: 40px' alt="Agriculture raisonnée">
							{% endif %}
						{% endfor %}

					</div>
					<div class="d-flex justify-content-center align-items-center gap-4">
						<a href="{{path("app_cart_add", {id: product.id})}}" class="px-3 py-2 bg-secondary text-light text-decoration-none rounded-3">
							<span>Ajouter au panier</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
