<section class="py-20" id="search-products">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="d-block d-sm-inline-block pt-16 pb-20 pb-md-4 ps-12 pe-8 bg-secondary rounded-3" style="height: 500px">

					<div class="mb-6 d-flex flex-column gap-3">
						<h6 class="d-inline-block mb-5 text-primary-gradient">Rayon</h6>
						<div class="category-container">
							<button class="category-btn rounded-5 py-2 px-3">Boissons</button>
							<div class="sub-categories pl-4" data-category="Boissons">
								<label><input type="checkbox" class="sub-category-checkbox">
									Eau</label>
								<label><input type="checkbox" class="sub-category-checkbox">
									Jus de fruits</label>
								<label><input type="checkbox" class="sub-category-checkbox">
									Boissons gazeuses</label>
							</div>
						</div>
						<div class="category-container">
							<button class="category-btn rounded-5 py-2 px-3">Gourmet & Charcuterie</button>
							<div class="sub-categories pl-4" data-category="Gourmet & Charcuterie">
								<label><input type="checkbox" class="sub-category-checkbox">
									Fromages</label>
								<label><input type="checkbox" class="sub-category-checkbox">
									Charcuteries</label>
								<label><input type="checkbox" class="sub-category-checkbox">
									Pâtes fines</label>
							</div>
						</div>
						<div class="category-container">
							<button class="category-btn rounded-5 py-2 px-3">Fruits et légumes</button>
							<div class="sub-categories pl-4" data-category="Fruits et légumes">
								<label><input type="checkbox" class="sub-category-checkbox">
									Fruits</label>
								<label><input type="checkbox" class="sub-category-checkbox">
									Légumes</label>
								<label><input type="checkbox" class="sub-category-checkbox">
									Bio</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-8">
				<div class="d-flex mb-8">
					<div class="position-relative me-4 border-light-dark">
						<span class="position-absolute top-0 end-0 me-4 mt-3" id="chevron-icon-sortby">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
						</span>
						<select class="position-relative form-control w-full ps-6 pe-10 py-4 bg-transparent fw-medium" name="" id="select-dropdown-sortby">
							<option value="" disabled selected>Trier par</option>
							<option value="1">Prix le plus bas</option>
							<option value="2">Prix le plus haut</option>
						</select>
					</div>
					<div class="position-relative me-4 border-light-dark">
						<span class="position-absolute top-0 end-0 me-4 mt-3" id="chevron-icon-origin">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
						</span>
						<select class="position-relative form-control w-full ps-6 pe-10 py-4 bg-transparent fw-medium" name="" id="select-dropdown-origin">

							<option value="" disabled selected>Origine</option>
							<option value="1">France</option>
							<option value="2">Italie</option>
							<option value="3">Espagne</option>
							<option value="4">Reste du monde</option>
						</select>
					</div>
				</div>
				<div class="container mt-4">
					<div class="row">
						{% for product in productsInPage %}
							<div class="col-md-4 mb-4">
								<div class="card card-custom position-relative">
									<div class="card-price rounded-pill">{{(product.price / 100) | number_format(2, ',', '')}}€</div>
									{% if product.images|length > 0 %}
										{% set image = product.images.first %}
										<img src="{{ asset('images/products/' ~ image.imageName) }}" style="width: 200px; height: 150px" class="card-img-top object-fit-cover " alt="...">
									{% else %}
										<img src="{{ asset('/images/product-placeholder.png') }}" class="card-img-top" alt="...">
									{% endif %}
									<div class="card-custom-body p-3">
										<div class="">
											<h5 class="h6">{{ product.name }}</h5>
											<p class="small-font-size">{{ product.description }}</p>
										</div>
										<a href="#" class="">Acheter</a>
									</div>
								</div>
							</div>
							{% if loop.index is divisible by(3) %}
							</div>
							<div class="row">
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<nav>
					{{ knp_pagination_render(productsInPage) }}
				</nav>
			</div>
		</div>
	</div>
</section>
