{% extends 'admin/admin_base.html.twig' %}

{% block title %}Détails de l'utilisateur -
	{{ user.username|default(user.email) }}
{% endblock %}

{% block admincontent %}
	<div class="container py-4">
		<h2>Détails de l'utilisateur
			{{ user.username|default(user.email) }}</h2>

		<div class="card">
			<div class="card-body">
				<p>
					<strong>Nom d'utilisateur :
					</strong>
					{{ user.username|default('N/A') }}</p>
				<p>
					<strong>Email :
					</strong>
					{{ user.email }}</p>
				<p>
					<strong>Adresse :
					</strong>
					{{ user.address|default('N/A') }}</p>
				<p>
					<strong>Préférence de livraison :
					</strong>
					{{ user.deliveryPreference|default('N/A') }}</p>
			</div>
		</div>
	</div>
{% endblock %}
