{% extends 'base.html.twig' %}


{% block body %}
	<style>
		.list-detail {
			list-style-type: none;
			margin-bottom: 10px;
		}
	</style>
	<section class="py-20">
		<div class="container justify-content-center col-md-12 justify-content-center align-items-center  text-center">
			<div>
				<img src="{{ asset('/images/check.svg')}}" alt="Success" style="width: 100px;">
			</div>

			<div class="p-8 w-50 mx-auto">
				<h3 class="bg-secondary p-5 rounded-3">Commande réussie !</h3>
				<p>Merci pour votre commande,
					{{ app.user.username }}.</p>
				<p>Vous recevrez bientôt tous les détails de votre commande dans un mail récapitulatif !</p>
			</div>


			{% set lastOrder = app.user.orders | last %}

			{% if lastOrder %}
				<h4>Détails de la commande</h4>
				<ul class="mb-10 list-detail">
					<li>Numéro de commande :
						{{ lastOrder.reference }}</li>
					<li>Date de la commande :
						{{ lastOrder.createdAt|date('d/m/Y') }}</li>
					<li>Statut :
						{{ lastOrder.status }}</li>
					<li>Total de la commande :
						{{ lastOrder.total }}
						€</li>
					{% if lastOrder.deliveryInfo %}
						<li>Adresse de livraison :
							{{ lastOrder.deliveryInfo.address }}</li>
						<li>Méthode de livraison :
							{{ lastOrder.deliveryInfo.deliveryMethod }}</li>
					{% endif %}
				</ul>
				<a href="/" class="btn btn-primary">Retour à l'accueil</a>
			{% else %}
				<p>Aucune commande trouvée.</p>
			{% endif %}
		</div>
	</section>
{% endblock %}
